body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: gray;
  color: green;
  font-size: 30px;
  text-shadow: 0 0 3px black;
}
#stage{
  border: solid green 10px;
  margin: none;
}