<!DOCTYPE html5>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Snake Game</title>
  
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>
  <body>
    
    {{{body}}}
    
    <script src="../../public/js/home.js"></script>
  </body>

</html>
